:root{

--color-primary-brightOrange:hsl(31, 77%, 52%);
--color-primary-darkCyan:hsl(184, 100%, 22%);
--color-primary-veryDarkCyan: hsl(179, 100%, 13%);

--color-neutral-transparentWhite:hsla(0, 0%, 100%, 0.75);
--color-neutral-veryLightGray: hsl(0, 0%, 95%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    font-weight: 400;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-veryLightGray);
    line-height: 1.3;

}

body p{
    color: var(--color-neutral-transparentWhite);
}

img{
    width: 100%;
}

.container{ 
    margin: 0 1em;
}

.card{
    display: flex;
}

.card__component{
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 250px;
}

.card__component h1{
    font-family: 'Big Shoulders Display', cursive;
    color: var(--color-neutral-veryLightGray);
    font-weight: 700;
    text-transform: uppercase;
}

.card__component img{
max-width: 3em;
}

.card__component:nth-child(1){
    background-color: var(--color-primary-brightOrange);
}
.card__component:nth-child(1) .btn{
    color: var(--color-primary-brightOrange);
}

.card__component:nth-child(2){
    background-color: var(--color-primary-darkCyan);
}

.card__component:nth-child(2) .btn{
    color: var(--color-primary-darkCyan);
}

.card__component:nth-child(3){
    background-color: var(--color-primary-veryDarkCyan);
}

.card__component:nth-child(3) .btn{
    color: var(--color-primary-veryDarkCyan);
}

.card__component:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card__component:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}





.btn{
    margin-top: 5em;
    max-width: 10em;
    border-radius: 20px;
    border-width: 0;
    padding: .7em 1.5em;
    background-color: var(--color-neutral-veryLightGray);
}


@media only screen and (max-width: 400px){

    .container{
        height: 100%;
        margin: 0;
    }



    .card{
        flex-direction: column;
    }

    .card__component:first-child{
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .card__component:last-child{
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .btn{
        margin-top: 1em;
    }
    
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }